* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #1E1E1E;
  color: #fff;
  display: grid;
  place-items: center;
  height: 100vh;

}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
