* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #D9CDF7;;
}

.product {
  border: 1px solid red;
  height: 225px;
  width: 450px;
}